<div class="main-content">
  <div class="page-header">
    <h1 class="page-title">User Management</h1>
    <div class="table-controls">
      <div class="search-box">
        <span class="search-icon">🔍</span>
        <input type="text" class="search-input" placeholder="Search users...">
      </div>
      <!--    <button class="filter-btn">
        <span class="filter-icon">⏷</span>
        <span>Filter</span>
      </button> -->
    </div>
  </div>
  @if (users === undefined) {
  <app-loading></app-loading>
  }
  @else if (users.totalItems === 0) {
  <div class="empty-state-container">
    <div class=" empty-state">
      <div class="empty-state-icon">
        <svg width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="#64748b" stroke-width="1.5">
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
      </div>
      <h3 class="empty-state-title">No Users Found</h3>
      <p class="empty-state-description">
        There are currently no users in the system. Start by adding a new user.
      </p>
      <button class="btn btn-primary" routerLink="/users/add">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M12 5v14"></path>
          <path d="M5 12h14"></path>
        </svg>
        Add New User
      </button>
    </div>
  </div>
  } @else {
  <table class="user-table">
    <thead>
      <tr>
        <th>User</th>
        <th>Role</th>
        <th>Status</th>
        <th>Joined</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users.data; track $index) {
      <tr>
        <td>
          <div class="user-info">
            <img src="https://randomuser.me/api/portraits/women/44.jpg" class="user-avatar">
            <div>
              <div class="user-name">{{user.firstName + ' ' + user.lastName}}</div>
              <div class="user-email">{{user.email}}</div>
            </div>
          </div>
        </td>
        <td>{{user.role | uppercase }}</td>
        <td><span class="status-badge status-active">{{user.active ? 'Active' : 'Inactive'}}</span></td>
        <td>{{user.createdAt | date}}</td>
        <td>
          <button class="action-btn" title="View" routerLink="/users/{{user.id}}">👁️</button>
          <button class="action-btn" title="Delete" (click)="deleteUser(user.id)">🗑️</button>
        </td>
      </tr>
      }

    </tbody>
  </table>

  <div class="pagination">
    <button class="page-btn" [class.disabled]="this.page === 1" (click)="previousPage()">❮</button>
    @for (nb of nbPages; track nb) {
    <button class="page-btn" [class.active]="page === nb" (click)="onChangePage(nb)">{{nb}}</button> }

    <button class="page-btn" [class.disabled]="!users.hasNext" (click)="nextPage()">❯</button>
  </div>
  <!-- Floating Action Button -->
  <button class="fab" routerLink="/users/add">
    <span class="fab-icon">+</span>
  </button>
  }