<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h3 class="text-center mb-4">Welcome Back!</h3>
          <form class="p-5" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control" name="email" [(ngModel)]="email" required
                #emailInput="ngModel" email />
              @if(emailInput.invalid && emailInput.touched && !email) {
              <div class="text-danger">
                Email is required.
              </div>
              }
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" id="password" class="form-control" name="password" [(ngModel)]="password" required
                #passwordInput="ngModel" />
              @if(passwordInput.invalid && passwordInput.touched) {
              <div class="text-danger">
                Password is required.
              </div>
              }
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-3" [disabled]="loginForm.invalid">Login</button>
          </form>
          <div class="text-center">
            <p>Don't have an account? </p>
            <a routerLink="/auth/register" class="btn btn-link">Register Here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
