<!-- list-conge.component.html -->
<div class="main-content">
  <div class="page-header">
    <h1 class="page-title">Leave Requests Management</h1>
    <div class="table-controls">


      <div class="filter-controls">
        <div class="filter-group">
          <label>Leave Type:</label>
          <select [ngModel]="filterType" class="form-control" (ngModelChange)="onFilterTypeChange($event)">
            <option value="">All Types</option>
            <option value='conge_maladie'>Maladie</option>
            <option value='conge_de_formation'>Formation</option>
            <option value='conge_de_sante'>Sante</option>
            <option value='conge_de_vacances'>Vacances</option>
          </select>
        </div>

        <div class="filter-group">
          <label>Stauts:</label>
          <select [ngModel]="filterStatus" class="form-control" (ngModelChange)="onFilterStatusChange($event)">
            <option value="">All Types</option>
            <option value='accepted'>Accepted</option>
            <option value='rejected'>Rejected</option>
            <option value='pending'>pending</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  @if(conges === undefined) {
  <app-loading></app-loading>
  }@else if (conges!.totalItems > 0 ) {
  <table class="user-table">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Leave Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        @if (authS.currentUserRole() === "rh"){ <th>Actions</th>}
      </tr>
    </thead>
    <tbody>
      @for (conge of conges.data; track $index) {
      <tr>
        <td>
          <div class="user-info">
            <img [src]="conge.user.photo ? conge.user.photo : 'https://www.gravatar.com/avatar/?d=mp'"
              class="user-avatar" alt="User Avatar">
            <div>
              <div class="user-name">{{conge.user.firstName + ' ' + conge.user.lastName}}</div>
              <div class="user-email">{{conge.user.email}}</div>
            </div>
          </div>
        </td>
        <td>
          <span>
            @switch (conge.congeType) {
            @case ("conge_maladie") {<span>Maladie</span>}
            @case ("conge_de_formation") {<span>Formation</span>}
            @case ("conge_de_sante") {<span>Sante</span>}
            @case ("conge_de_vacances") {<span>Vacances</span>}

            }
          </span>
        </td>
        <td>{{conge.start | date}}</td>
        <td>{{conge.end| date}}</td>
        <td>
          <span class="status-badge" [ngClass]="{
              'status-active': conge.isAccepted,
              'status-inactive': !conge.isAccepted,
              'status-pending': conge.isAccepted === null
            }">
            {{conge.isAccepted === null ? 'Pending' : !conge.isAccepted ? 'Rejected' : 'Approved'}}
          </span>
        </td>
        @if (authS.currentUserRole() === "rh"){ <td>
          @if (conge.isAccepted == null) {
          <button class="action-btn approve-btn" title="Approve" (click)="accepteConge(conge.id)">✓</button>
          <button class="action-btn reject-btn" title="Reject" (click)="rejectConge(conge.id)">✗</button>
          }
        </td>}
      </tr>
      }

    </tbody>
  </table>

  <div class="pagination">
    <button class="page-btn" [class.disabled]="this.page === 1" (click)="previousPage()">❮</button>
    @for (nb of nbPages; track nb) {
    <button class="page-btn" [class.active]="page === nb" (click)="onChangePage(nb)">{{nb}}</button> }

    <button class="page-btn" [class.disabled]="!conges!.hasNext" (click)="nextPage()">❯</button>
  </div>
  }@else {
  <app-empty>
  </app-empty>
  }

  <!-- Floating Action Button -->
  <button class="fab" routerLink="/conges/add">
    <span class="fab-icon">+</span>
  </button>